.modal_new-backdrop {
  position: fixed;
  top: -150%;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_new-backdrop-show {
  top: 0;
}
.modal_new {
  padding: 20px;
  width: 70%;
  max-width: 700px;
  background: #fff;
  border: 1px solid;
  overflow-y: scroll;
  max-height: 100vh;
}
.modal_new_head {
  font-size: 2rem;
}
.modal_new_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.form-elem {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 10px 0;
}
.form-elem label {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.form-elem input,
.form-elem textarea {
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  transition: 400ms;
  letter-spacing: 1px;
  margin: 2px;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(156, 156, 156);
}
.form-elem textarea {
  height: 160px;
  width: 100%;
}
.modal_new_location {
  display: flex;
  width: 250px;
}
.modal_new_location input {
  min-width: 0;
  flex: 1;
}
.form-elem input:focus,
.form-elem textarea:focus {
  border: 1px solid #000;
}
.form-elem input::placeholder {
  font-size: 0.8rem;
}
.modal_new_buttons {
  align-items: baseline;
  display: flex;
}
.modal_new_buttons button,
.modal_new_buttons div {
  padding: 10px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  height: fit-content;
  background: #00bcd4;
  margin: 5px;
  user-select: none;
}
.modal_new_buttons .btn-close {
  background: #aca9a9;
}
