.carousel_item {
  position: relative;
  height: 100%;
}
.carousel_info {
  position: absolute;
  width: 98%;
  height: 40%;
  top: 40%;
  left: 1%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: start;
  display: flex;
}
.carousel_info_content {
  padding: 10px;
}
.carousel_info p {
  font-weight: bold;
  font-size: 1.3rem;
}
.carousel_desc {
  letter-spacing: 1px;
}
